{{> head}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Google</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas voluptatum doloribus non voluptatem maxime maiores ex, asperiores velit quia dignissimos ea fugit impedit itaque nemo sit architecto minus est fugiat!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/company.png" alt="" class="img-thumbnail">
    </div>
</div>
{{>footer}}